*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Montserrat', sans-serif; 
}

header{
  width: 85%;
  align-items: center;
  justify-content: flex-end;
  z-index: 998;
  right: 0;
  top: 0;
  position: fixed;
  background-color: rgba(8, 11, 18, 0.8);
}

footer{
  background-color: rgb(40, 40, 40);
}


ul{
  list-style: none;
}

a{
  text-decoration: none;
}