
/* MAIN */

header{
  z-index: 998;
  right: 0;
  top: 0;
  position: fixed;
  background-color: blue;
}

div.col-left{
  height: calc(100vh - 100px);
  flex-direction: column;
  background-color: brown;
}

div.box-brani{
  height: calc(100vh - 100px);
  background-color: aqua;
}
/* /MAIN */

/* FOOTER */
/* /FOOTER */

