/* HEADER */

.btn a{
  margin-right: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 35px;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 50px;
}
/* /HEADER */

/* MAIN */

/* Colonna sinistra */


div.col-left{
  width: 15%;
  height: calc(100vh - 100px);
  flex-direction: column;
  background-color: black;
}

/* Logo */

div.col-logo img{
  width: 150px;
  padding: 15px;
}

/* /Logo */
/* Playlist */


div.col-play h4{
  padding: 15px;
  color: white;
}

div.col-play i{
  padding: 10px;
  margin-left: 15px;
  margin-right: 10px;
  background-color: rgb(163, 163, 163) ;
}

/* /Playlist */
/* list */

div.col-list{
  min-height: 100px;
  overflow: auto;
  height: 400px;
}

div.col-list li{
  margin: 15px;
}

/* /list */
/* Utente */


div.box-inst,
div.box-jo{
  margin: 15px;
}

hr.riga{
  width: 90%;
  margin: auto;
  border-color: rgb(95, 95, 95);

}

div.box-inst img{
  width: 20px;
  margin-right: 10px;
  opacity: 0.7;
}

div.box-jo{
  color: white;
}

div.box-jo img{
  background-color:rgb(95, 95, 95);
  border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
  width: 25px;
}

/* /Utente */
/* /Colonna sinistra */

/* Brani */
/* menu */

div.box-brani{
  width: 85%;
  height: calc(100vh - 100px);
  background-color: rgb(20, 25, 34);
  flex-direction: column;
  overflow-y: auto;
}


div.brani-menu ul{
  margin-top: 100px;
  justify-content: center;
}

div.brani-menu li{
  margin: 10px;
}

div.brani-menu li:hover{
  margin-bottom: 5px;
  border-bottom: 2px solid rgb(173, 255, 47);
}
/* /menu */
/* Recently */

div.recently{
  margin-top: 30px;
  margin-left: 15px;
}

div.recently h2{
  color: white;
}

div.box-musica{
  flex-wrap: wrap;
}

div.box-cover{
  position: relative;
  margin-top: 20px;
  width: calc(100% / 6 - 10px); 
}

div.box-cover img{
  margin-left: 15px;
  width: 100%;
}

/* /Recently */




/* /Brani */
/* /MAIN */

/* FOOTER */

section.player{
  justify-content: space-between;
  align-items: center;
}


div.controller{
  width:  40%;
}

div.audio{
  width: 250px;
  height: 100px;
}
/* sinstra */

div.foot-album{
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

div.foot-title{
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 70%;
  margin-left: 10px;
  padding-right: 20px;
}

div.foot-title h5{
  color: white;
}

div.foot-icon{
  align-items: center;
  height: 50px;
  width: 30%;
}

div.foot-icon i{
  color: white;
  opacity: 0.8;
  padding: 10px;
}
/* /sinstra */

/* Centro */

div.controller{
  flex-direction: column;
}

div.controller span{
  color: white;
  font-size: 0.7rem;
  font-weight: bold; 
}

div.foot-low{
  width: 100%;
}

div.foot-higt ul{
  justify-content: center;
}

div.foot-higt li{
  margin: 15px;
}

div.foot-higt a{
  color: white;
}

li.indietro-btn i{
  transform: rotate(180deg);
}

li.start-btn i{
  font-size: 25px;
}

div.foot-low{
  justify-content: space-between;
  text-align: center;
}

div.foot-minute{
  width: 10%;
}

div.foot-bar{
  border-radius: 5px;
  margin-top: 5px;
  height: 8px;
  width: 80%;
  background-color: rgb(90, 90, 90) ;
}

div.second-foot-bar{
  height: 100%;
  width: 20%;
  border-radius: 5px;
  background-color: rgb(193, 193, 193);
}

/* /Centro */

/* Destra */

div.foot-right-icon,
div.foot-right-bar{
  align-items: center;
  width: 50%;
}

div.foot-right-icon{
  justify-content: center; 
}

div.foot-right-icon li{
  margin: 10px;
}

div.foot-right-icon a {
  color: white;
  font-size: 0.8rem;
}

div.right-bar{
  width: 90%;
  margin: auto;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(90, 90, 90)
}

div.second-right-bar{
  width: 20%;
  height: 100%;
  border-radius: 3px ;
  background-color:rgb(193, 193, 193);
}


/* /Destra */

/* /FOOTER */

